*{
    margin: 0;
    padding: 0;
    border: border-box ;
}

section {
    height: 100%;
    background-color: #FFE79D;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.score {
    color: #2F32C4;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

score h2{
    font-size: 30px;
}

score p {
    text-align: center;
    padding : 20px;
    font-size: 25px;
}

.intro{
    color:#2F32C4;
    height: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.intro h1 {
    font-size: 50px;
}

score p{
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

.intro{
    color:#2f32c4;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.intro h1{
    font-size: 25%;
}

.intro button{
    width: 100px;
    height: 0px;
    background: none;
    border: none;
    color: #FFE79D;
    font-size: 20px;
    background:#2F32C4
}