*{
    margin: 0;
    padding: 0;
    border: border-box ;
}

section {
    height: 100vh;
    background-color: #FFE79D;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.score {
    color: #2F32C4;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score h2{
    font-size: 30px;
}

.score p {
    text-align: center;
    padding : 20px;
    font-size: 25px;
}

.intro{
    color:#2F32C4;
    height: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.intro h1 {
    font-size: 50px;
}

.score p {
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

.intro{
    color:#2f32c4;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
}

.intro h1{
    font-size: 50px;
}

.intro button,
.match button{
    width: 100px;
    height: 50px;
    background: none;
    border: none;
    color: #FFE79D;
    font-size: 20px;
    background:#2F32C4;
    cursor: pointer;
}

.match{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%)
}

.winner{
    color: #2F32C4;
    text-align: center;    
    font-size: 50px;
}

.hands,
.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player-hand{
    transform: rotateY(180deg);
}

div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn{
    opacity: 1;
    pointer-events: all;
}